coverage/
node_modules/
.vscode/
output
dist
.history/

#pax ignore
.pax/*
!.pax/.keep
!.pax/pre-packaging.sh
!.pax/post-packaging.sh
!.pax/prepare-workspace.sh
!.pax/catchall-packaging.sh

# jenkin ignore
**/*@tmp/
